/*
Mateo Awon-Magliaro
2025-02-18
Description: CSS for a webpage that displays a box
*/
html {
  font-family: sans-serif;
}

div {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    font-size: 1.25rem; /* 1rem = 16px so 1.125 = 18px*/
    align-items: center;
    background-color: blueviolet;
    color: white; 
    
}